In [65]:
import numpy as np
import pandas as pd

df=pd.read_csv("control_vital_sign_total_new_fillna_and_drop_total.csv") 
print(df)

        subject_id   stay_id         indextime              date  heart_rate  \
0         10001217  37067082  2157/11/21 21:00  2157/11/20 22:00       102.0
1         10001217  37067082  2157/11/21 21:00  2157/11/20 23:00       106.0
2         10001217  37067082  2157/11/21 21:00  2157/11/21 00:00        98.0
3         10001217  37067082  2157/11/21 21:00  2157/11/21 01:00        94.0
4         10001217  37067082  2157/11/21 21:00  2157/11/21 02:00        88.0
...            ...       ...               ...               ...         ...
854287    19999987  36195440   2145/11/4 21:01   2145/11/4 15:01        98.0
854288    19999987  36195440   2145/11/4 21:01   2145/11/4 16:01        98.0
854289    19999987  36195440   2145/11/4 21:01   2145/11/4 19:01        93.0
854290    19999987  36195440   2145/11/4 21:01   2145/11/4 20:01        92.0
854291    19999987  36195440   2145/11/4 21:01   2145/11/4 21:01        87.0

        resp_rate    sbp    dbp    mbp   spo2  hours_diff
0            27.0  137.0   81.0   93.0   95.0          23
1            20.0  134.0   73.0   88.0   98.0          22
2            25.0  127.0   78.0   90.0   94.0          21
3            24.0  127.0   74.0   83.0   93.0          20
4            20.0  134.0   78.0   90.0   98.0          19
...           ...    ...    ...    ...    ...         ...
854287       22.0  152.0   92.0  102.0   97.0           6
854288       22.0  152.0   92.0  102.0   97.0           5
854289       20.0  163.0  120.0  131.0  100.0           2
854290       23.0  143.0  107.0  116.0  100.0           1
854291       24.0  143.0  107.0  116.0   98.0           0

[854292 rows x 11 columns]

In [66]:
df_new_1=df.subject_id.value_counts().index[:df.subject_id.value_counts().value_counts()[0:1].sum()]
print(df_new_1)

Int64Index([18669211, 12564274, 16609129, 10321771, 13301658, 11053008,
            13045799, 13099065, 10768463, 19261560,
            ...
            15654072, 18030470, 13365922, 17049945, 14892930, 14468223,
            12885839, 10359443, 11711284, 10547705],
           dtype='int64', length=27061)

In [67]:
df_new_2=df.subject_id.value_counts().index[df.subject_id.value_counts().value_counts()[0:1].sum():]
print(df_new_2)

Int64Index([12513827, 12987194, 16546275, 12719657, 15775655, 10052938,
            14823036, 17303859, 10774669, 15365815,
            ...
            15474523, 14570287, 12690467, 16082937, 13354079, 18542723,
            19961282, 14628781, 19495630, 10306162],
           dtype='int64', length=9998)

In [68]:
print(df)

        subject_id   stay_id         indextime              date  heart_rate  \
0         10001217  37067082  2157/11/21 21:00  2157/11/20 22:00       102.0
1         10001217  37067082  2157/11/21 21:00  2157/11/20 23:00       106.0
2         10001217  37067082  2157/11/21 21:00  2157/11/21 00:00        98.0
3         10001217  37067082  2157/11/21 21:00  2157/11/21 01:00        94.0
4         10001217  37067082  2157/11/21 21:00  2157/11/21 02:00        88.0
...            ...       ...               ...               ...         ...
854287    19999987  36195440   2145/11/4 21:01   2145/11/4 15:01        98.0
854288    19999987  36195440   2145/11/4 21:01   2145/11/4 16:01        98.0
854289    19999987  36195440   2145/11/4 21:01   2145/11/4 19:01        93.0
854290    19999987  36195440   2145/11/4 21:01   2145/11/4 20:01        92.0
854291    19999987  36195440   2145/11/4 21:01   2145/11/4 21:01        87.0

        resp_rate    sbp    dbp    mbp   spo2  hours_diff
0            27.0  137.0   81.0   93.0   95.0          23
1            20.0  134.0   73.0   88.0   98.0          22
2            25.0  127.0   78.0   90.0   94.0          21
3            24.0  127.0   74.0   83.0   93.0          20
4            20.0  134.0   78.0   90.0   98.0          19
...           ...    ...    ...    ...    ...         ...
854287       22.0  152.0   92.0  102.0   97.0           6
854288       22.0  152.0   92.0  102.0   97.0           5
854289       20.0  163.0  120.0  131.0  100.0           2
854290       23.0  143.0  107.0  116.0  100.0           1
854291       24.0  143.0  107.0  116.0   98.0           0

[854292 rows x 11 columns]

In [69]:
df_new=df[df.subject_id.isin(list(df_new_1))]
print(df_new)
#df_new.to_csv("control_vital_sign_result.csv",index=False)

        subject_id   stay_id         indextime              date  heart_rate  \
0         10001217  37067082  2157/11/21 21:00  2157/11/20 22:00       102.0
1         10001217  37067082  2157/11/21 21:00  2157/11/20 23:00       106.0
2         10001217  37067082  2157/11/21 21:00  2157/11/21 00:00        98.0
3         10001217  37067082  2157/11/21 21:00  2157/11/21 01:00        94.0
4         10001217  37067082  2157/11/21 21:00  2157/11/21 02:00        88.0
...            ...       ...               ...               ...         ...
854196    19999068  30143796   2161/8/30 21:00   2161/8/30 17:00       114.0
854197    19999068  30143796   2161/8/30 21:00   2161/8/30 18:00        96.0
854198    19999068  30143796   2161/8/30 21:00   2161/8/30 19:00        80.0
854199    19999068  30143796   2161/8/30 21:00   2161/8/30 20:00        91.0
854200    19999068  30143796   2161/8/30 21:00   2161/8/30 21:00        88.0

        resp_rate    sbp   dbp    mbp  spo2  hours_diff
0            27.0  137.0  81.0   93.0  95.0          23
1            20.0  134.0  73.0   88.0  98.0          22
2            25.0  127.0  78.0   90.0  94.0          21
3            24.0  127.0  74.0   83.0  93.0          20
4            20.0  134.0  78.0   90.0  98.0          19
...           ...    ...   ...    ...   ...         ...
854196       16.0  128.0  97.0  105.0  96.0           4
854197       14.0  120.0  77.0   89.0  96.0           3
854198       11.0  114.0  69.0   80.0  96.0           2
854199       14.0  128.0  68.0   83.0  96.0           1
854200       15.0  129.0  86.0   95.0  97.0           0

[649464 rows x 11 columns]

In [ ]:
#df_new_1=df_new_1.to_frame()
#df_new_1.to_csv("a1.csv",index=False)
#df_new_2=df_new_2.to_frame()
#df_new_2.to_csv("a2.csv",index=False)

In [61]:
df.subject_id.value_counts()

13125051    24
13499901    24
17871820    24
13059186    24
19674244    24
            ..
11458461    11
19541392     3
17442462     2
14626941     2
18761260     2
Name: subject_id, Length: 481, dtype: int64

In [64]:
df.subject_id.value_counts().value_counts()

24    377
23     54
22     26
21      8
20      3
2       3
16      2
19      1
18      1
17      1
15      1
14      1
12      1
11      1
3       1
Name: subject_id, dtype: int64

In [17]:
df_new=df["subject_id"].value_counts()
print(df_new)

#df_new.to_csv("aaaaaaaa.csv",index=False)

18669211    24
12564274    24
16609129    24
10321771    24
13301658    24
            ..
18542723     1
19961282     1
14628781     1
19495630     1
10306162     1
Name: subject_id, Length: 37059, dtype: int64